<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ToDo App</title>

		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
		{{ share.load() }}
		
		<!-- Bootstrap CSS -->
		<!-- <link rel="stylesheet" href="{{ url_for('static', filename='flatly.min.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" /> -->
	</head>
	<body>

		<div class="container-fluid" id="wrapper">
			
			<div class="row">
				<div >
					<h2>WHAT DO YOU WANT TO DO TODAY?</h2>
					
					<form action="{{url_for('add')}}" method="POST" role="form">
					
						<div >

							  <input name="new-todo" type="text" class="form-control">
							
								  	<button type="submit" >ADD</button>
						
						</div>
					</form>

					<div >
						<div >
							
								<div >
									<a type="button" href="{{url_for('delete_completed')}}">
										DELETE COMPLETED
									</a>
								</div>
								<div >
									<a type="button" href="{{url_for('delete_all')}}">
										DELETE ALL
									</a>
								</div>
							
						</div>
					</div>

					
				</div>

			</div>

			<div>
				{% for i in todos %}
				<a href="{{url_for('complete',oid=i._id)}}">
					
				<li class="">{{i.text}}</li>
			</a>
			
				{% endfor %}
			</div>
	
		</div>
	</body>
</html>